/*
Page Name: Luka
Description: Luka Website, a chilean cryptocurrency
Page URI:  https://www.cryptoluka.cl
Version: 2.2 – 27/02/2018
Author: Luka Devs
*/

body {
    background: #2c2f39;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#diceTable, #recentBetsTable {
    color: white;
    width: 90%;
    margin: auto;
}

#statsTable {
    color: white;
    width: 90%;
    margin: auto;
}


.btnBets {
    height: 46px;
    background-color: grey;
    font-size: 18px;
    color: black;
    border-radius: 0;
}




/* SLIDER !!! */


.rangeslider__value-bubble {
    border: 1px solid #ccc;
    display: block;
    padding: 2px;
    position: absolute;
    bottom: 100%;
    margin-bottom: 25px;
    background-color: #fff;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
    margin-left: -50px;
    text-align: center;
    @include border-radius(5px);

    &:before,
        &:after {
        border-width: 11px;
        border-style: solid;
        border-color: transparent;
        content: "";
        display: block;
        margin: auto;
        width: 10px;
        position: absolute;
        left: 0;
        right: 0;  
    }
    &:before {
        border-top-color: #ccc;
        border-bottom-width: 0;
        bottom: -11px;
    }
    &:after {
        border-top-color: #fff;
        border-bottom-width: 0;
        bottom: -10px;  
    }
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
h3,
h5 {
    font-weight: 500;
}
h1 {
    font-size: 40px;
    letter-spacing: 2px;
    color: white;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}
h3 {
    line-height: 36px;
    color: white;
}
h4 {
    color: white;
}
h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}
p {
    //color: rgba(255,255,255,0.5);
    color: white;
    font-size: 15px;
    line-height: 24px;
}
a {
    text-decoration: none !important;
    outline: none;
}

/*---------------------------------------
    General               
-----------------------------------------*/

#luka,
#detail,
#team, 
#wallets,
#exchanges,
#roadmap, 
#docs,
#subscribe,
#faq {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.bg-color p,
.bg-color span,
.bg-color a {
    color: rgba(255,255,255,0.5);
}
.bg-color h1,
.bg-color h2,
.bg-color h3,
.bg-color h4,
.bg-color h5,
.bg-color h6 {
    color: #fff;
    font-weight: 400;
}
.bg-blue-grey {
    background-color: #2c2f39;
}
.bg-blue {
    background-color: #006FE9;
}
.bg-blue p,
.bg-blue span,
.bg-blue a {
    color: rgba(255,255,255,0.7);
}
.section-title {
    margin-bottom: 70px;
}
.no-content .section-title {
    margin-bottom: 0;
}
.section-title h3 {
    margin-bottom: 25px;
    font-size: 2.8em;
}
.section-title h4 {
    font-size: 1.5em;
    color: rgba(255,255,255,0.5);
}
.bg-blue .section-title h4 {
    color: rgba(255,255,255,0.7);
}
.alignCenter {
    text-align: center;
}
.justify {
    text-align: justify;
}
.btn {
    border: 0;
    border-radius: 35px;
}
.btn-xl {
    padding: 10px 25px;
    font-size: 24px;
    font-weight: 100;
}
.btn-primary {
    background: #006fe9;
}
.btn-primary:hover {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}
.btn-gradient-1 {
    background: #35c9ff;
    background: -moz-linear-gradient(45deg, #35c9ff 0%, #7537e7 100%);
    background: -webkit-linear-gradient(45deg, #35c9ff 0%,#7537e7 100%);
    background: linear-gradient(45deg, #35c9ff 0%,#7537e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c9ff', endColorstr='#7537e7',GradientType=1 );
    color: #fff;
}
.btn-gradient-2 {
    background: #d0ef37;
    background: -moz-linear-gradient(45deg, #d0ef37 0%, #2ae03c 100%);
    background: -webkit-linear-gradient(45deg, #d0ef37 0%,#2ae03c 100%);
    background: linear-gradient(45deg, #d0ef37 0%,#2ae03c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0ef37', endColorstr='#2ae03c',GradientType=1 );
    color: #fff;
}
.label {
    font-weight: 500;
    color: #fff!important;
}
.label-process {
    background: #FF8530;
}
.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}
canvas {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
}
.fa-envelope {
    color: #dd4b39;
}

.fa-facebook-square {
    color: #4267b2;
}
.fa-twitter {
    color: #1da1f2;
}
.fa-linkedin {
    color: #0084bf;
}
.fa-github {
    color: #fff;
}

.fa-telegram {
    color: #fff;
}

.fa-arrow-up {
    color: #00ff00;
}

.fa-arrow-down {
    color: red;
}

.fa-github {
    color: #fff;
}

.percentPriceDown {
    color: red;
}

.percentPriceUp {
    color: #00ff00;
}

.reduce65 {
    max-width: 65%;
}

.marquee {
    height: 20px;
    font-size: 12px;
    /*  background-color: #ffe899; */
    background-color: #363946;
    color: #fff;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    width: 100%;
    overflow: inherit;
    white-space: nowrap;
}

.marquee img, .marquee i {
    height: 12px;
    width: 12px;
    margin-right: 0.5%;
    margin-left: 0.5%
}

.marquee #space {
    margin-left: 4%;
}



.warning {
    background-color: #fffe91;
    padding: 10px 20px;
    text-align: center;
}
.warning p {
    margin-bottom: 0;
    line-height: 1;
    font-weight: 400;
    color: #000;
}
.warnSuccess {
    background-color: #76FF03;
    padding: 10px 20px;
    text-align: center;
}
.warnSuccess p {
    margin-bottom: 0;
    line-height: 1;
    font-weight: 400;
    color: #000;
}

/*---------------------------------------
    Loader            
-----------------------------------------*/

#overlayer {
    background: #2C2F38;
    width: 100%;
    height: 100%;  
    position: fixed;
    z-index: 11;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #174463;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #174463;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #174463;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/

.navbar {
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    border: 0;
    border-radius: 0;
}
.navbar > .container {
    min-height: 70px;
    position: relative;
}
.navbar-header {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);	
}
.navbar-brand {
    height: auto;
    padding: 0 15px;
}
.navbar-brand img {
    height: 42px;
    display: inline-block;
}

/* nav */

.navbar-collapse {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-collapse >.navbar-right {
    margin-right: -15px!important;
}
.custom-navbar .nav li a {
    padding: 0 15px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 30px;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}
.custom-navbar .nav li a:hover,
.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
    background: transparent;
    color: #fff;
    opacity: 0.8;
}
.custom-navbar .nav li.active > a {
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.custom-navbar .nav li.active > a:hover {
    opacity: 1;
}
.custom-navbar .navbar-toggle {
    background-color: transparent;
    border: none;
    margin: 0;
    padding-top: 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);	
}
.custom-navbar .navbar-toggle:hover {
    cursor: pointer;
}
.custom-navbar .navbar-toggle .icon-bar {
    background: #fff;
    border-color: transparent;
}
#sitiosInteres {
    display: block;
}
#sitiosInteres:focus,
#sitiosInteres:link {
    background: transparent;
    border-color: transparent;
}
.navbar-nav li .dropdown-menu  {
    padding: 13px 0;
}
.navbar-nav li .dropdown-menu a {
    padding: 0 15px 13px;
    border: 0!important;
    display: block;
    line-height: normal;
    color: #fff;
}
.navbar-nav li .dropdown-menu a:last-child {
    padding-bottom: 0;
}
.navbar-nav li .dropdown-menu a:hover {
    color: grey;
}

.dropdown-menu{
    background-color: #2c2f39;
}

/* fixed */

#active-header {
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -100;
}
.navbar.fixed {
    background: #35c9ff;
    background: -moz-linear-gradient(45deg, #35c9ff 0%, #7537e7 100%);
    background: -webkit-linear-gradient(45deg, #35c9ff 0%,#7537e7 100%);
    background: linear-gradient(45deg, #35c9ff 0%,#7537e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c9ff', endColorstr='#7537e7',GradientType=1 );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
    transform: translate(0, -200px);
}
.navbar.in-view {
    opacity: 1;
    visibility: visible;
    transition: all 600ms ease-out 0.3s;
    transform: translate(0, 0);
}

@media (max-width: 1100px) {
    .custom-navbar .nav li a {
        padding: 0 10px;
        line-height: 24px;
    }
}
@media (max-width: 991px) {
    .navbar {
        background: #35c9ff;
        background: -moz-linear-gradient(45deg, #35c9ff 0%, #7537e7 100%);
        background: -webkit-linear-gradient(45deg, #35c9ff 0%,#7537e7 100%);
        background: linear-gradient(45deg, #35c9ff 0%,#7537e7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c9ff', endColorstr='#7537e7',GradientType=1 );
    }
    .navbar > .container {
        min-height: 60px;
    }
    .navbar-header {
        position: relative;
        min-height: 60px;
        width: 100%;
        margin: 0!important;
        left: 0;
        top: 0;
        transform: none;
        float: none;
    }
    .navbar-brand {
        margin-left: 0!important;
        padding: 0;
        line-height: 54px;
    }
    
    
    .custom-navbar .navbar-toggle {
        margin: 12px -10px 0 0;
        position: relative;
        transform: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        position: static;
        transform: none;
        border-top: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse > .navbar-nav {
        float: none!important;
        margin: 0!important;
        padding: 20px 0;
    }
    .navbar-nav > li {
        float: none;
        text-align: center;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        font-size: 14px;
    }
    .collapse.in{
        display:block !important;
    }	
}
@media (max-width: 568px) {
    .navbar-brand {
        line-height: 56px;
    }
    .navbar-brand img {
        height: 36px;
    }
}

/*---------------------------------------
    Intro section              
-----------------------------------------*/

#intro {
    background: url('../images/intro-bg.jpg') 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
#intro .container {
    z-index: 9;
}
#intro img {
    width: 200px;
    margin-bottom: 30px;
}
#intro h2 {
    width: 80%;
    margin: 0 auto 30px;
    font-size: 46px;
    font-weight: 200;
}
#intro h3 {
    letter-spacing: 2px;
}
#intro .btn {
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}
#intro .btn:hover {
    background: #35c9ff;
    background: -moz-linear-gradient(45deg, #46cdff 0%, #854eea 100%);
    background: -webkit-linear-gradient(45deg, #46cdff 0%,#854eea 100%);
    background: linear-gradient(45deg, #46cdff 0%,#854eea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46cdff', endColorstr='#854eea',GradientType=1 );
    color: #fff;
}

/*---------------------------------------
   Luka  section              
-----------------------------------------*/

#luka {
    background-image: url("../images/luka-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/*---------------------------------------
    Detail section              
-----------------------------------------*/

#detail img {
    width: 78px;
}

/*---------------------------------------
   Team section              
-----------------------------------------*/

#team .item {
    padding-bottom: 10px;
    border-right: 1px solid rgba(255,255,255,0.1);
}
#team .item:last-child {
    border-right: 0;
}
.team-wrapper {
    margin-top: 10px;
}
.team-wrapper img {
    margin: auto;
}
.team-wrapper h4,
.team-wrapper h5 {
    margin: 5px 0;
    color: rgba(255,255,255,0.4);
}
.team-wrapper h4 {
    font-size: 1em;
}
.team-wrapper h5 {
    padding: 0 0 10px 0;
    font-size: .8em;
}
.team-wrapper a {
    margin: 0 3px;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}
.team-wrapper a:hover i {
    color: #fff;
}

/*---------------------------------------
    Wallets section              
-----------------------------------------*/

#wallets img {
    width: 92px;
}

#exchanges img {
    width: 92px;
    margin-bottom: 10px;
}

/*---------------------------------------
    Roadmap section              
-----------------------------------------*/

/*----- General styles -----*/

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.timeline h1, 
.timeline h2, 
.timeline h3, 
.timeline h4, 
.timeline h5, 
.timeline h6 {
    line-height: inherit;
}

/* FAB */

.jfab_wrapper{
    z-index: 10;
    width: 100%;
    height: 240px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    pointer-events: none;
}
.jfab_btns_wrapper{
    z-index: 10;
    right: 0.2%;
    bottom: 75px;
    position:absolute;
    display:none;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    pointer-events:all;
}
.jfab_btns_wrapper.show{
    z-index: 10;
    display:block;
    opacity: 1;
}
.jfab_btns_wrapper button{
    z-index: 10;
    width: 45px;
    height: 45px;
    border-radius:100%;
    background:#e74c3c;
    margin-bottom:12px;
    margin-right:26px;
    padding:0;
    border:none;
    outline:none;
    color:#ffffff;
    font-size: 19px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
    pointer-events:all;
    cursor: pointer;
}
.jfab_btns_wrapper button:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
}
button.jfab_main_btn{
    z-index: 10;
    background-color:#e74c3c;
    width: 50px;
    height: 50px;
    border-radius:100%;
    background:#e74c3c;
    right:16px;
    bottom:16px;
    position:absolute;
    margin-right:0;
    margin-bottom:0;
    padding:0;
    border:none;
    outline:none;
    color:#ffffff;
    font-size:24px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    pointer-events:all;
}
button:hover.jfab_main_btn{
    box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
}
.jfab_main_btn span{
    transition:.5s;
}
.jfab_main_btn.rotate {
    transform:rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


img.jfab_main_btn{
    z-index: 10;
    width: 75px;
    height: 75px;
    border-radius:100%;
    right:16px;
    bottom:16px;
    position:absolute;
    margin-right:0;
    margin-bottom:0;
    padding:0;
    border:none;
    outline:none;
    color:#ffffff;
    font-size:24px;
    transition:.3s;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    pointer-events:all;
}

/*
img.jfab_main_btn{
    width: 60px;
    height: 60px;
    right: 0.5%;
    bottom: 0;
    position:absolute;
    margin-right:0;
    margin-bottom:0;
    padding:0;
    border:none;
    outline:none;
    color:#ffffff;
    font-size:24px;
    transition:.3s;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    pointer-events:all;
} */







/*----- Timeline item -----*/

.timeline-item {
    padding-left: 40px;
    position: relative;
}
.timeline-item:last-child {
    padding-bottom: 0;
}

/*----- Timeline info -----*/

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}

/*----- Timeline marker -----*/

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}
.timeline-marker:before {
    background: #fff;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
    content: none;
}
.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #fff;
}

/*----- Timeline content -----*/
.timeline-content {
    padding-bottom: 40px;
}
.timeline-content p:last-child {
    margin-bottom: 0;
}

/*----- Timeline period -----*/

.period {
    padding: 0;
}
.period .timeline-info {
    display: none;
}
.period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
}
.period .timeline-content {
    padding: 40px 0 70px;
}
.period .timeline-title {
    margin: 0;
}

@media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .timeline-centered .timeline-item {
        padding-bottom: 40px;
        overflow: hidden;
    }
    .timeline-centered .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
        width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .timeline-centered .timeline-item.period {
        padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
        height: 30px;
        bottom: 0;
        top: auto;
    }
    .timeline-centered .period .timeline-title {
        left: auto;
    }
}

/*---------------------------------------
   Docs section              
-----------------------------------------*/

.docs #docs {
    padding-top: 12rem;
}

/*---------------------------------------
   Subscribe section              
-----------------------------------------*/

/*----- Sendiblue Styles -----*/

div#sib_embed_signup div.message_area {
    position: relative;
    padding: 10px 30px 10px 10px; 
    margin: 0px 0px 10px 0px;
    font-size:14px; 
    border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    box-sizing: border-box;
}
div#sib_embed_signup div.message_area button.close {
    position: absolute;
    right: 8px;
    top: 3px;
    color: inherit;
    background: 0 0;
    border: 0;
    padding: 0px;
    -webkit-appearance: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
.forms-builder-group {
    margin: 15px 0;
}
.full-name {
    margin-bottom: 15px;
}
.form-preloader {
    width: 64px;
    height: 64px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*----- Website Styles -----*/

#subscribe .contact_detail {
    margin: 50px auto 0;
}
#subscribe .col-md-12 {
    margin-bottom: 15px;
    text-align: center;
}
#subscribe input {
    background: none;
    height: auto;
    padding: 10px 20px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-radius: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    box-shadow: none;
}
#subscribe input:focus {
    border-bottom-color: #fff;
}
#subscribe input::-webkit-input-placeholder { 
    color: rgba(255,255,255,0.5);
}
#subscribe input::-moz-placeholder {
    color: rgba(255,255,255,0.5);
}
#subscribe input:-ms-input-placeholder {
    color: rgba(255,255,255,0.5);
}
#subscribe input:-moz-placeholder { 
    color: rgba(255,255,255,0.5);
}
#subscribe button {
    background: none;
    width: auto;
    height: auto;
    padding: 8px 25px;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}
#subscribe button:hover {
    background: #fff;
    color: #0072E1;
}





/*---------------------------------------
   Faq section              
-----------------------------------------*/

#faq .panel {
    background: transparent;
    margin-bottom: 8px;
    box-shadow: none;
    border-color: rgba(255,255,255,0.2);
    border-radius: 0;
}
#faq .panel-heading {
    background: transparent;
    border: none;
    padding-top: 8px;
    padding-bottom: 6px;
}
#faq .panel-heading a {
    font-size: 20px;
    color: #fff;
}
#faq .panel-body {
    border-top: none;
    padding: 20px 30px;
}
#faq .panel-body h5 {
    font-size: 18px;
    color: rgba(255,255,255,0.6);
}
#faq .panel-heading .panel-title a[data-toggle="collapse"] {  	
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}
#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
    content: "\f068";
    font-family: 'FontAwesome';
    font-size: 14px;
    display: block;
    position: absolute;
    line-height: 1;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}
#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
    content: "\f067";
}

/*---------------------------------------
   404 section              
-----------------------------------------*/

body.not-found {
    background-color: #0072E1;
}
#not-found .panic {
    width: 370px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}
#not-found h2 {
    margin: 0;
    font-family: 'Bungee';
    font-size: 6em;
    line-height: .85;
}
#not-found h2 span {
    font-size: 1.7em;
    color: #fff!important;
}
#not-found p {
    padding-left: 10px;
    font-size: 1.6em;
    line-height: normal;
}
#not-found img {
    width: 70%;
    position: absolute;
    top: 20px;
    right: 10px;
}
#not-found a {
    padding-left: 10px;
}
#not-found a:hover {
    color: #fff;
}

/*---------------------------------------
   Working section              
-----------------------------------------*/

body.working {
    background-color: #0072E1;
}
#working {
    text-align: center;;
}
#working img {
    width: 70%;
    margin-top: 100px;
    display: inline-block;
}
#working h2 {
    font-family: 'Bungee';
    font-size: 3em;
    line-height: .85;
}
#working p {
    font-size: 2em;
}

/*---------------------------------------
   Fixing section              
-----------------------------------------*/

body.fixing {
    background-color: #fff;
}
#fixing {
    text-align: center;
}
#fixing img {
    width: 60%;
    margin-top: -40px;
    display: inline-block;
}
#fixing h2 {
    margin-bottom: 0;
    font-family: 'Roboto Mono';
    font-size: 3em;
    font-weight: 700;
    line-height: .85;
    color: #0071bc;
    text-transform: none;
}
#fixing p {
    font-family: 'Roboto Mono';
    font-size: 1.7em;
    font-weight: 400;
    color: #0071bc;
}


/*---------------------------------------
   Footer           
-----------------------------------------*/

footer {
    padding: 30px 0;
    overflow: hidden;
    text-align: center;
}

/* Back top */
.go-top {
    background-color: #1ABFF0;
    bottom: 30px;
    right: 30px;
    color: #ffffff;
    font-size: 25px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    border-radius: 100%;
}
.go-top:hover {
    background-color: #1ABFF0;
    color: #ffffff;
    opacity: 0.6;
}

/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    color: rgba(255,255,255,0.3);
}
.social-icon li {
    padding: 0 5px;
    display: inline-block;
    list-style: none;
}
.social-icon li a i {
    font-size: 18px;
    color: rgba(255,255,255,0.3);
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}
.social-icon li a i.fa-send {
    font-size: 15px;
}
.social-icon li a:hover i {
    color: #fff;
}

/*---------------------------------------
   Responsive styles            
-----------------------------------------*/

@media (min-width: 768px) {

    .container {
        width: 92%;
    }

}

@media (max-width: 980px) {

    body,
    p {
        font-size: 14px;
        line-height: 1.4;
    }
    #luka, 
    #detail, 
    #team, 
    #wallets, 
    #exchanges, 
    #roadmap, 
    #docs, 
    #subscribe, 
    #faq {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .section-title {
        margin-bottom: 50px;
    }
    .section-title h3 {
        margin-bottom: 10px;
        font-size: 32px;
    }
    .section-title h4 {
        font-size: 20px;
    }
    #intro canvas {
        display: none!important;
    }
    #intro h2 {
        font-size: 32px;
        line-height: normal;
    }
    .team-wrapper h3 {
        font-size: 1.2em;
    }
    #detail img {
        width: 68px;
    }
    #not-found img {
        top: 120px;
    }

}

@media (max-width: 768px) {

    .container {
        width: 100%;
    }
    .nav-tabs > li > a {
        font-size: 13px;
    }
    .go-top {
        display: none!important;
    }
    #intro { 
        background-image: url('../images/intro-bg-mobile.jpg');
        background-position: center top!important;
        background-attachment: initial!important;
    }
    #luka img {
        max-height: 330px!important;
        margin-top: 20px!important;
    }
    #luka p {
        text-align: center!important;
    }
    #detail .col-md-4 {
        margin-bottom: 30px;
    }
    #detail img {
        width: 60px;
    }
    #detail h3 {
        margin: 10px 0 5px;
    }
    #team .item {
        padding-bottom: 20px;
        border-right: 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    #team .item:last-child {
        border-bottom: 0;
    }
    #wallets .col-md-3 {
        margin-bottom: 25px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    #wallets .col-md-3:last-child {
        border-bottom: 0;
    }
    #subscribe img {
        width: 280px;
        margin: 30px auto 0;
    }
    #faq .col-md-10 {
        overflow: hidden;
    }
    #not-found img {
        top: 185px;
    }

}

@media (max-width: 760px) {

    #intro {
        height: 100vh;
    }

}

@media (max-width: 568px) {

    #intro img {
        width: 160px;
    }

}


@media (max-width: 480px) {

    #not-found .panic {
        width: 100%;
        padding: 0 30px;
        left: 0;
        top: 60%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;    
        box-sizing: border-box;
    }
    #not-found img {
        top: 25px;
    }

}

@media (max-width: 320px) {

    #intro img {
        width: 230px;
    }
    #not-found h2 {
        font-size: 5em;
    }

}

